@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');
body {
    background: #F4F4F4;
}

.heading {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    letter-spacing: px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    margin-top: 20px;
}

.heading-two {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    letter-spacing: -1px;
    color: black;
}

.heading-three {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    letter-spacing: -1px;
    color: black;
}

.heading-four {
    text-align: right;
    color: black;
}